

*.o
*.dep
*.dep2
*~
*.orig
Makefile*

callgrind.out*
leak.out*
core*

gameSource/XLives
gameSource/XEditor
gameSource/XEditor-zh_cn
gameSource/testUser/*
gameSource/testUser2/*
gameSource/recordedGames/*
gameSource/screenShots/*
gameSource/animations
gameSource/categories
gameSource/ground
gameSource/music
gameSource/objects
gameSource/sounds
gameSource/sprites
gameSource/transitions
gameSource/overlays
gameSource/settings/*
gameSource/scenes
gameSource/groundTileCache/*
gameSource/photoCache/*
gameSource/playbackGame/*
gameSource/reverbCache/*
gameSource/overlayImport/*
gameSource/spriteImportCache/*
gameSource/dataVersionNumber.txt
gameSource/testMap.txt
gameSource/testMap.txt
gameSource/untrimmed.aiff
gameSource/inputSoundTemp.wav
gameSource/log.txt
gameSource/log.txt.backup

server/XServer
server/lastEveLocation.txt
server/testMap.txt
server/testMapStale.txt
server/tutorialMaps
server/*.db
server/log.txt
server/familyDataLog.txt
server/clientTagLog.txt
server/evePlacementHomelandLog.txt
server/recentPlacements.txt
server/biomeRandSeed.txt
server/dataVersionNumber.txt
server/backups/*
server/curseLog/*
server/failureLog/*
server/foodLog/*
server/lifeLog/*
server/mapChangeLogs/*
server/settings
server/categories
server/objects
server/transitions
server/tutorialMaps

build/mac/*
